@{
    ViewData["Title"] = "Home Page";
}

<h2>Start Page</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    @*
    <a href="@Url.Action("Register", "Account")">SignUp</a>
    <a href="@Url.Action("Login", "Account")">LogIn</a>
    <a href="@Url.Action("Index", "Users")">Users List</a>
    *@
    <a asp-controller="Account" asp-action="Register">SignUp</a>
    <a asp-controller="Account" asp-action="Login">LogIn</a>
    <a asp-controller="Users" asp-action="Index">Users List</a>
}